* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input:-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*------------------------------*/
body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.blue-text {
  color: #0D6EFD;
  font-weight: 600;
  text-decoration: underline;
}
.blue-text:hover {
  color: #0B5ED7;
  text-decoration: underline;
}

.header {
  padding: 45px;
  max-height: 310px;
  background-color: #212529;
  color: #fff;
  margin: 0px 0px 20px 0px;
}
.header__container {
  max-width: 956px;
  margin: 0px auto;
}
.header__title {
  font-size: 64px;
  line-height: 76px;
}
.header__subtitle {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}
.header__form {
  margin-bottom: 10px;
}
.header__example {
  color: #6C7572;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}
.header__invalid {
  color: #DC2E30;
}
.header__valid {
  color: #1C874A;
}

.form-header {
  display: flex;
}
.form-header__left {
  position: relative;
  margin-right: 25px;
}
.form-header__input {
  padding: 10px 15px 0 15px;
  min-width: 730px;
  height: 58px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 20px;
}
.form-header__label {
  position: absolute;
  top: 17px;
  left: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #000;
  transition: 0.3s ease-in-out;
}
.form-header input:focus + label,
.form-header input:valid + label {
  font-weight: 300;
  font-size: 12px;
  top: 0px;
  pointer-events: none;
}
.form-header input:focus,
.form-header input:valid {
  outline: 0;
  border-color: #0B5ED7;
  box-shadow: 0 0 2px 2px #0B5ED7;
}
.form-header__btn {
  padding: 0 15px;
  background-color: #0D6EFD;
  color: #fff;
  width: 185px;
  height: 58px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  border-radius: 5px;
  transition: 0.2s ease;
}
.form-header__btn:hover {
  background-color: #0B5ED7;
}

.content {
  margin: 0px auto;
  max-width: 1320px;
  padding: 50px;
  display: flex;
}
.content__posts {
  flex: 1 0 auto;
  margin-right: 20px;
}
.content__feeds {
  flex: 0 0 390px;
}
.content__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 30px;
}

.item-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-post__link {
  text-decoration: underline;
  font-size: 16px;
}
.item-post__btn {
  width: 80px;
  height: 30px;
  background-color: #fff;
  color: #0D6EFD;
  border: 1px solid #0D6EFD;
  border-radius: 5px;
  transition: 0.3s ease;
}
.item-post__btn:hover {
  color: #fff;
  background-color: #0D6EFD;
}

.feeds {
  line-height: 20px;
  padding: 0 20px;
}
.feeds__boldText {
  font-size: 16px;
  font-weight: 600;
}
.feeds__subText {
  font-size: 14px;
  color: #C0C0C0;
}

.footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 24px;
  background-color: #F8F9FA;
  border-top: 1px solid #dee2e6;
}